@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
    themes: "light",
      "dark",
      "cupcake",
      "bumblebee",
      "emerald",
      "corporate",
      "synthwave",
      "retro",
      "cyberpunk",
      "valentine",
      "halloween",
      "garden",
      "forest",
      "aqua",
      "lofi",
      "pastel",
      "fantasy",
      "wireframe",
      "black",
      "luxury",
      "dracula",
      "cmyk",
      "autumn",
      "business",
      "acid",
      "lemonade",
      "night",
      "coffee",
      "winter",
      "dim",
      "nord",
      "sunset";
  }

  /* Hide scrollbar in WebKit (Chrome, Safari, etc.) */
.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Hide scrollbar in Firefox */
.custom-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}